<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

            @foreach ($carousel as $data)
            <!-- Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(/storage/{{$data->image}})"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content text-center">
                                    <div class="home_text">
                                        <div class="home_subtitle">{!!$data->caption!!}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @endforeach
        </div>
    </div>
</div>

<!-- Featured Course -->

<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Home Slider Nav -->
                <div class="home_slider_nav_container d-flex flex-row align-items-start justify-content-between">
                    <div class="home_slider_nav home_slider_prev trans_200"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="home_slider_nav home_slider_next trans_200"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
                <div class="featured_container">
                    <div class="row">
                        <!-- Updates and Results -->
                        <div class="col-lg-6 featured_col">
                            <div class="featured_content">
                                <div class="grouped_title">Results</div>
                                <div class="events">
                                    @foreach ($result as $data)
                                    <!-- Event -->
                                    <div class="event d-flex flex-row align-items-start justify-content-start">
                                        <div>
                                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                <div class="event_day">{{$data->year}}</div>
                                                <div class="event_month">Approved</div>
                                            </div>
                                        </div>
                                        <div class="event_body">
                                            <div class="event_title"><a href="{{route('result', $data->id)}}">{{$data->formId}}
                                                    {{$data->examName}}
                                                    {{$data->year}}</a>
                                            </div>
                                            <div class="news_post_link">
                                                <a href="{{route('result', $data->id)}}">View More about this
                                                    results</a>
                                            </div>
                                        </div>
                                    </div>
                                    @endforeach
                                    <div class="news_post_link text-center">
                                        <a href="{{route('results')}}">View More Previous Results</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Latest News -->
                        <div class="col-lg-6 featured_col bg-light pb-4">


                            <div class="news">
                                <div class="grouped_title text-center mb-2">Latest News</div>

                                @foreach ($news as $data)
                                <!-- News Post -->
                                <div class="news_post d-flex flex-row align-items-start justify-content-start px-4">
                                    <div>
                                        <div class="news_post_image"><img src="/storage/{{$data->news_image}}" alt="Kellu News Picture" style="background-repeat:repeat" width="90px" height="50px"></div>
                                    </div>
                                    <div class="news_post_body">
                                        <div class="news_post_date">{{date('F d, Y',strtotime($data->created_at))}}
                                        </div>
                                        <div class="news_post_title"><a href="{{route('newsData',$data->id)}}">{{$data->news_title}}</a></div>
                                        <div class="news_post_author">By <a>{{$data->publisher}}</a></div>
                                    </div>
                                </div>
                                <!-- News Post Ends-->
                                @endforeach
                                <div class="news_post_link text-center">
                                    <a href="{{route('news')}}">More News</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>